<!DOCTYPE html>
<html>
    <head>
        <link  rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/upload.css')}}">
        <script src="{{url_for('static',filename='js/script.js')}}"></script>
    </head>
    <body>
        <div id="container">
            <h1>Test Models</h1>

            <hr>

            <form action="/upload-image" method="POST" enctype="multipart/form-data">
                <label for="fname" class="lbl">User: </label>
                <input type="text" id="fname" name="fname"><br>
                <label for="species" class="lbl">Species: </label>
                <input type="text" id="species_in" name="species_in" list="species_lt"></input>
                <datalist id="species_lt" name="species_lt">
                </datalist>
                <textarea rows="7" cols="40" name="comments" id="comments" placeholder="Enter comments here ..."></textarea>
                <br>
                <div id="container_form">
                    <div id="custom_file">
                        <input type="file" name="images[]" id="image" multiple>
                        <label for="image" id="fimage">Select image(s)</label>
                    </div>
                </div>
                <button type="submit" id="btn_submit">Upload image(s)</button>
            </form>
        </div>
    </body>
</html>